#playground{
    width: 600px;
    height: 600px;
    background-color: black;
    color: white;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    /* width:calc(100% / 10);
    height: calc(100% / 10); */
    border: 2px solid white;
    cursor: crosshair;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    background-color: aqua;
    color: black;

}
.bomb{
    background-color: red;
    color: black;
}
.fa-bomb{
    animation: explosion;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/* animazione ripetuta all'infinito */
@keyframes explosion {
    from{
    transform: scale(1);    /* scalato 1 */
    }to{
     transform: scale(1.2);   /* scalato 1.5 */
    }
}